@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .reset-input {
    @apply outline-none p-1 border-2 border-blue-300 rounded-sm w-full;
  }
  .btn-primary {
    @apply relative z-10 py-1 px-4 font-medium text-lg border-2 cursor-pointer border-black;
    transition: color 300ms ease-in-out;
  }

  .btn-primary::before {
    content: '';
    @apply absolute inset-[2px] bg-black -z-10 scale-x-0;
    transform-origin: left;
    transition: transform 300ms ease-in-out;
  }

  .btn-primary:hover::before {
    @apply scale-x-100;
  }

  .btn-primary:hover {
    @apply text-white;
  }

  .btn-secondary {
    @apply relative py-1 px-4 font-normal text-lg text-blue-500 overflow-hidden;
    transition: all 300ms ease-in-out;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
  }
  .btn-secondary:nth-child(1) {
    filter: hue-rotate(115deg);
  }
  .btn-secondary:hover {
    @apply bg-blue-500 text-gray-200 delay-300;
    box-shadow: 0 0 50px #3b82f6;
  }

  .btn-secondary::before {
    @apply border-t-2 border-t-blue-500 border-l-2 border-l-blue-500 transition-all duration-300;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
  }
  .btn-secondary:hover::before,
  .btn-secondary:hover::after {
    width: 100%;
    height: 100%;
  }

  .btn-secondary::after {
    @apply border-b-2 border-b-blue-500 border-r-2 border-r-blue-500 transition-all duration-300;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
  }

  .landmark-circle {
    @apply relative before:content-[attr(before)] before:absolute before:top-1/2 before:-left-4 before:w-3 before:h-3 before:-translate-y-1/2 before:border-[3px] before:border-blue-500 before:rounded-full;
  }

  .connected-line {
    @apply relative before:absolute before:top-[1.15rem] before:-bottom-[0.6rem] before:left-1 before:w-1 before:bg-blue-500;
  }

  /* *TILT CARD: START */
  .tilt-box-wrap {
    /* width: 400px;
    height: 400px; */
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
  }
  .tilt-box-wrap:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
  }

  .tilt-box {
    width: 100%;
    height: 100%;
    /* background-color: #04527b; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  .t_over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
  }
  .t_over:nth-child(1) {
    left: 0;
    top: 0;
  }
  .t_over:nth-child(2) {
    left: 33.333%;
    top: 0;
  }
  .t_over:nth-child(3) {
    left: 66.666%;
    top: 0;
  }
  .t_over:nth-child(4) {
    left: 0;
    top: 33.333%;
  }
  .t_over:nth-child(5) {
    left: 33.333%;
    top: 33.333%;
  }
  .t_over:nth-child(6) {
    left: 66.666%;
    top: 33.333%;
  }
  .t_over:nth-child(7) {
    left: 0;
    top: 66.666%;
  }
  .t_over:nth-child(8) {
    left: 33.333%;
    top: 66.666%;
  }
  .t_over:nth-child(9) {
    left: 66.666%;
    top: 66.666%;
  }

  .t_over:nth-child(1):hover ~ .tilt-box {
    transform: rotateX(-20deg) rotateY(20deg);
  }
  .t_over:nth-child(2):hover ~ .tilt-box {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  .t_over:nth-child(3):hover ~ .tilt-box {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
  .t_over:nth-child(4):hover ~ .tilt-box {
    transform: rotateX(0deg) rotateY(20deg);
  }
  .t_over:nth-child(5):hover ~ .tilt-box {
    transform: rotateX(0deg) rotateY(0deg);
  }
  .t_over:nth-child(6):hover ~ .tilt-box {
    transform: rotateX(0deg) rotateY(-20deg);
  }
  .t_over:nth-child(7):hover ~ .tilt-box {
    transform: rotateX(20deg) rotateY(20deg);
  }
  .t_over:nth-child(8):hover ~ .tilt-box {
    transform: rotateX(20deg) rotateY(0deg);
  }
  .t_over:nth-child(9):hover ~ .tilt-box {
    transform: rotateX(20deg) rotateY(-20deg);
  }
  /* *TILT CARD: END */
}
