.mobileNav {
  overflow: hidden;
  transform: translateY(calc(-100% - 2.5rem));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.animated {
  transform: translateY(0);
  /* padding: 24px 18px; */
}
