.imageContainer {
  position: relative;
  width: 50%;
}

.imageContainer > div {
  position: unset !important;
}

.imageContainer .image {
  object-fit: contain;
  width: 50% !important;
  position: relative !important;
  height: unset !important;
}
