.html {
  fill: #e34f26;
}
.css {
  fill: #1572b6;
}
.javascript {
  fill: #dbc233;
}
.npm {
  fill: #cb3837;
}
.react {
  fill: #61dafb;
}
.bootstrap {
  fill: #563d7c;
}
.tailwindcss {
  fill: #38b2ac;
}
.mongodb {
  fill: #47a248;
}
.expressjs {
  fill: #000;
}
.nextjs {
  fill: #000;
}
.sass {
  fill: #cc6699;
}
.redux {
  fill: #764abc;
}
.firebase {
  fill: #ffca28;
}

.image-container {
  position: relative;
  width: 50%;
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 50% !important;
  position: relative !important;
  height: unset !important;
}
