.html:hover {
  fill: #e34f26;
}
.css:hover {
  fill: #1572b6;
}
.javascript:hover {
  fill: #dbc233;
}
.npm:hover {
  fill: #cb3837;
}
.react:hover {
  fill: #61dafb;
}
.bootstrap:hover {
  fill: #563d7c;
}
.tailwindcss:hover {
  fill: #38b2ac;
}
.mongodb:hover {
  fill: #47a248;
}
.expressjs:hover {
  fill: #000;
}
.nextjs:hover {
  fill: #000;
}
.sass:hover {
  fill: #cc6699;
}
.redux:hover {
  fill: #764abc;
}
